<div class="container">
   <h4>Обо мне</h4>
   <div class="p-3">
      <img src="public/images/ildar.png" style="width: 80%;border-radius: 20px;"class="card-img-top" alt="">
   </div>
   <p>Привет, меня зовут Васин Ильдар. Я начинающий веб-программист и это мой первый блог на Twig.</p>
</div>